# Core requirements
numpy
pandas
matplotlib
plotly
google-generativeai
python-dotenv
langsmith
langchain-core
langchain-openai
langchain-google-genai
tiktoken

# Clustering & Visualization
scikit-learn
numba>=0.58.1
umap-learn>=0.5.4
hdbscan
sentence-transformers
networkx
pyvis

# Document processing
python-docx

# Other
setuptools
protobuf
torch
transformers
